@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary:#4fbf8b;
    --color-primary-dull:#44ae7c;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.input {
  @apply border border-gray-300 rounded w-full p-2 mt-1 outline-indigo-500;
}
